.react-calendar {
  width: 100%;
  background: transparent;
  border: none;
  box-shadow: var(--chakra-shadows-xl);
  padding: var(--chakra-sizes-5);
  /* border-radius: 20px; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
  border: 4px, black;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 60px;
  margin-bottom: 1em;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: transparent;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  color: #757575;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: black;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 100%;
  text-align: center;
  padding: 1.6em 0.5em;

  background: none;
}
.react-calendar__tile:disabled {
  opacity: 0.4;
  pointer-events: none;
  background-color: transparent;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  border-radius: 50%;
}
.react-calendar__tile--now {
  background: rgb(206, 215, 223);
  border-radius: 50%;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: black;
  color: white;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #b3b0b0;
  border-radius: 50%;
}
.react-calendar__tile--active {
  background: black;
  color: white;
  border-radius: 50%;
  position: relative; /* Add this to make the pseudo-element relative to this element */

  /* Add a 3px black solid border using a pseudo-element */
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #757575;
  border-radius: 50%;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #b3b0b0;
  border-radius: 50%;
}

.calendar-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* This will set the aspect ratio to 1:1 (square) */
  /* Alternatively, you can set the padding-bottom to a percentage that represents the desired aspect ratio */
}
